.noVisible {
  display: none;
}
.allHeight {
  min-height: 100vh;
}
.FRow {
  display: flex;
  flex-direction: row;
}
.flexAll {
  flex: 1;
}
.FColumn {
  display: flex;
  flex-direction: column;
}
.aCenter {
  align-items: center;
}

.jCenter {
  justify-content: center;
}

.jEnd {
  justify-content: flex-end;
}

.jStart {
  justify-content: flex-start;
}

.aEnd {
  align-items: flex-end;
}

.aStart {
  align-items: flex-start;
}
.jSpaceAround {
  justify-content: space-around;
}

header {
  display: flex;
  flex-direction: row;
}
header div {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: right;
  flex: 0.4;
}
header button {
  margin-top: 1rem;
  margin-right: 1rem;
  border: var(--border-button);
  background-color: transparent;
  color: #fff;
  border-radius: var(--border-radius-button);
  height: 2rem;
  cursor: pointer;
}

header h1 {
  text-align: right;
  flex: 0.6;
  text-shadow: 3px 3px 10px #eee;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #282d3a;
  color: #fff;
  --color-mesa: #0d857f;
  --border-radius-mesa: 1rem;
  --height-mesa: 35vh;
  --border-radius-button: 1rem;
  --border-button: 2px solid #fff;
}
table {
  margin-top: 1rem;
  width: inherit;
  border-collapse: collapse;
}
form {
  display: flex;
}
input[type="text"] {
  width: 67%;
}

#Jugar {
  background-color: transparent;
  color: #fff;
  border-radius: var(--border-radius-button);
  border: var(--border-button);
  position: absolute;
  padding: 0.5em;
  bottom: 0;
  right: 0;
  margin: 0.4em;
  cursor: pointer;
}

th,
td {
  padding: 0 0.3rem 0 0;
}

tbody td:last-child {
  text-align: center;
}
#nuevoJugador {
  background-color: #3e6259;
  border-radius: 1rem;
  position: absolute;
  top: 10rem;
  left: 33rem;
  width: 30rem;
  height: 15rem;
  padding: 1rem;
}

#nuevoJugador label {
  display: inline-flex;
  align-items: center;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.mesaBanca {
  min-height: var(--height-mesa);
  min-width: 40rem;
  margin: 1rem;
  border: 1px solid white;
  border-radius: var(--border-radius-mesa);
  background-color: var(--color-mesa);
  padding: 0.4rem;
}
.mesaJugador {
  min-height: var(--height-mesa);
  width: 28rem;
  margin: 1rem;
  border: 1px solid white;
  border-radius: var(--border-radius-mesa);
  background-color: var(--color-mesa);
  padding: 0.4rem;
}
img[src^="./Images/Cards/"] {
  height: 8rem;
  width: 6rem;
}

img[src="../images/plus.svg"],
img[src="./images/delete.svg"] {
  cursor: pointer;
}

.opciones {
  padding: 0.3rem;
}

main button {
  border-radius: var(--border-radius-button);
  color: #fff;
  background: transparent;
  border: var(--border-button);
  margin-right: 0.4rem;
  cursor: pointer;
}

#seguimiento {
  margin-top: 0.3rem;
  font-size: 1.2rem;
}
