.noVisible {
  display: none;
}
.allHeight {
  min-height: 100vh;
}
.FRow {
  display: flex;
  flex-direction: row;
}
.flexAll {
  flex: 1;
}
.FColumn {
  display: flex;
  flex-direction: column;
}
.aCenter {
  align-items: center;
}

.jCenter {
  justify-content: center;
}

.jEnd {
  justify-content: flex-end;
}

.jStart {
  justify-content: flex-start;
}

.aEnd {
  align-items: flex-end;
}

.aStart {
  align-items: flex-start;
}
.jSpaceAround {
  justify-content: space-around;
}

header {
  display: flex;
  flex-direction: row;
}
header div {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: right;
  flex: 0.4;
}

header h1 {
  text-align: right;
  flex: 0.6;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #282d3a;
  color: #fff;
  --color-mesa: #0d857f;
  --border-radius-mesa: 1rem;
  --height-mesa: 35vh;
}
table {
  margin-top: 1rem;
  width: inherit;
  border-collapse: collapse;
}
form {
  display: flex;
}
input[type="text"] {
  width: 97%;
}
#Jugar {
  background-color: #aaa;
  color: #fff;
  border-radius: 10rem;
  width: fit-content;
  position: absolute;
  padding: 0.5em;
  bottom: 0;
  right: 0;
  margin: 0.4em;
}

th,
td {
  padding: 0 0.3rem 0 0;
}
#nuevoJugador {
  background-color: #3e6259;
  border-radius: 1rem;
  position: absolute;
  top: 10rem;
  left: 38rem;
  width: 20em;
  height: 10em;
  padding: 1em;
}

#banca {
  background-color: var(--color-mesa);
  min-height: var(--height-mesa);
  min-width: 40rem;
  border: 1px solid white;
  border-radius: var(--border-radius-mesa);
  padding: 0.4rem;
}
#jugadores {
  padding-top: 2rem;
}
.mesaJugador {
  min-height: var(--height-mesa);
  width: 28rem;
  margin: 1rem;
  border: 1px solid white;
  border-radius: var(--border-radius-mesa);
  background-color: var(--color-mesa);
  padding: 0.4rem;
}
img[src^="./Images/Cards/"] {
  height: 8rem;
  width: 6rem;
}

.opciones {
  padding: 0.3rem;
}

button {
  border-radius: 6px;
  color: #fff;
  background: transparent;
  border: 2px solid #282d3a;
  margin-right: 0.4rem;
}

#seguimiento {
  margin-top: 0.9rem;
}
